<a href="https://colab.research.google.com/github/ESHWARGOUD2005/lab-exam-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import necessary liberates
import pandas as pd

In [ ]:
from os import path
df=pd.read_excel('/content/drive/MyDrive/ODD (2).xlsx')

In [ ]:
df.head()

,Booking_ID,Customer_ID,Destination,Travel_Dates,Booking_Date,Number_of_Travelers,Travel_Package,Payment_Method,Total_Cost,Travel_Agent,Customer_Feedback
0,BKG01438,CUST5663,BANGALORE,2024-05-27 - 2025-06-02,2023-07-26,3.0,Premium,Debit Card,41695.84,Bass Inc,Power matter brother guy. Out adult perhaps ge...
1,BKG02701,CUST4963,Vietnam,2024/05/02 / 2025/06/28,2024-02-05,3.0,Standard,Credit Card,36619.85,Wood Group,Position call within size than couple. Effect ...
2,BKG03648,cust5625,Tokyo,2023-12-02 - 2025-03-09,2024-07-17,2.0,NaN,NaN,44543.87,Bridges-Collins,NaN
3,BKG02513,CUST4246,Delhi,2023-11-10 - 2024-09-13,2024-03-15,6.0,Luxury,Credit Card,41053.94,"Edwards, Hill and Lee",NaN
4,bkg02903,CUST3901,Chennai,2023-11-09 - 2024-08-22,2023-04-09,3.0,Luxury,PayPal,36238.26,Hardy Inc,NaN

In [ ]:
print(df.columns)

Index(['Booking_ID', 'Customer_ID', 'Destination', 'Travel_Dates',
       'Booking_Date', 'Number_of_Travelers', 'Travel_Package',
       'Payment_Method', 'Total_Cost', 'Travel_Agent', 'Customer_Feedback'],
      dtype='object')

In [ ]:
df.columns = df.columns.str.strip()

WHAT IS THE AVERAGE TOTAL COST OF TRIPS FOR EACH DESTINATION

In [18]:
average_cost_per_destination = df.groupby('Destination')['Total_Cost'].mean()
print(average_cost_per_destination)

Destination
ALBANIA           73664.210000
ALEJANDROSHIRE    78168.730000
ARUBA              8573.290000
Adamsbury         22309.600000
Adamsfurt         15705.440000
                      ...
Zacharyberg       41751.850000
Zambia            20658.930000
Zamoramouth       84404.310000
Zimbabwe          31329.406667
Zimmermantown     59139.600000
Name: Total_Cost, Length: 858, dtype: float64

WHAT IS THE RANGE OF TRAVEL DATES ? WHAT IS THE MOST COMMON TRAVEL PERIOD ?

In [2]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/ODD (2).xlsx")
df[["Start_Date", "End_Date"]] = df["Travel_Dates"].str.split(" - ", expand=True).apply(pd.to_datetime, errors="coerce")
df = df.dropna(subset=["Start_Date", "End_Date"])
df["Travel_Duration"] = (df["End_Date"] - df["Start_Date"]).dt.days
print("Earliest:", df["Start_Date"].min(), "\nLatest:", df["End_Date"].max(), "\nMost Common Period:", df["Travel_Duration"].mode()[0])

Earliest: 2023-08-20 00:00:00
Latest: 2025-08-19 00:00:00
Most Common Period: 291

HOW MANY UNIQUE DESTINATION ARE PRESENT IN THE DATA SET

In [19]:
unique_destinations= df["Destination"].nunique()
print("Number of Unique Destinations:", unique_destinations)

Number of Unique Destinations: 858

DO ALL DATES FOLLOW A CONSISTENT FORMAT

In [3]:
import pandas as pd
import re
df = pd.read_excel("/content/drive/MyDrive/ODD (2).xlsx")
patterns = {
    "YYYY-MM-DD - YYYY-MM-DD": re.compile(r"\d{4}-\d{2}-\d{2} - \d{4}-\d{2}-\d{2}"),
    "YYYY/MM/DD / YYYY/MM/DD": re.compile(r"\d{4}/\d{2}/\d{2} / \d{4}/\d{2}/\d{2}")
}

counts = {k: 0 for k in patterns}
inconsistent = []

for date in df["Travel_Dates"].dropna():
    if any(p.fullmatch(date) for p in patterns.values()):
        for fmt, p in patterns.items():
            if p.fullmatch(date):
                counts[fmt] += 1
    else:
        inconsistent.append(date)
print("Date Formats:", counts)
if inconsistent:
    print("\nInconsistent Dates:", inconsistent[:10])
else:
    print("\nAll dates are consistent.")

Date Formats: {'YYYY-MM-DD - YYYY-MM-DD': 4687, 'YYYY/MM/DD / YYYY/MM/DD': 513}

All dates are consistent.

In [ ]:
ARE OF TRAVELLERS VALUES ARE ALWAYS POSITIVE AND REASONABLE

In [4]:
invalid_travelers = df[(df["Number_of_Travelers"] <= 0) | (df["Number_of_Travelers"] > 100)]

if not invalid_travelers.empty:
    print("Invalid Number_of_Travelers found:")
    print(invalid_travelers)
else:
    print("All traveler numbers are positive and reasonable.")

All traveler numbers are positive and reasonable.